pretrained_models/atlas_arm.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/robonaut2.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/valkyrie.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/pr2.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/robonaut2_arm.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/valkyrie_arm.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/valkyrie_arm_shoulder.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/atlas.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/baxter.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/panda_arm.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/atlas_desert-sweep-6.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/panda_lucky-pond-7642.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/robonaut2_cosmic-sound-9761.pkl filter=lfs diff=lfs merge=lfs -text
pretrained_models/valkyrie_vital-sweep-16.pkl filter=lfs diff=lfs merge=lfs -text
