[tool.poetry]
name = "ikflow"
version = "0.0.10"
description = "Open source implementation of the 'IKFlow' inverse kinematics solver"
authors = ["Jeremy Morgan <jsmorgan6@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
klampt = "0.9.0"
torch = "^2.0.1"
FrEIA = "^0.2"
more-itertools = "^9.0.0"
jrl = { git = "https://github.com/jstmn/Jrl.git", branch = "v0.0.10" }

pynvml = "11.5.0"
numpy = "^1.24.2"


[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
pylint = "^2.16.2"
matplotlib = "^3.7.0"
# PyQt5 = "5.15.7"
pytorch-lightning = "1.8.6"
tensorboard = "2.11.0"
wandb = "0.13.8"
pandas = "1.5.3"
tabulate = "0.9.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
